  
@include block(footer) {
    font-size: rem(14px);
    @include element(title){
        text-transform: uppercase;
        margin-bottom: rem(24px);
        font-size: rem(14px);
        font-weight: 700;
    }
    @include element(logo-wrap){
        @extend %flexwrap;
        @extend %spacebtw;
        p{
            &:not(:last-child){
                margin-bottom: rem(8px);
            }
            margin:0;
        }
    }
    @include element(designedby){
        font-size: rem(12px);
    }

}