  
@include block(footer) {
    font-size: rem(14px);
    color: #989898;
    margin-top: auto;
    padding: rem(55px) 0;
    @include element(title){
        text-transform: uppercase;
        margin-bottom: rem(24px);
        font-size: inherit;
        @extend %font-bold;
    }
    @include element(logo-wrap){
        @extend %flexwrap;
        @extend %spacebtw;
        p{
            &:not(:last-child){
                margin-bottom: rem(8px);
            }
            margin:0;
        }
    }
    @include element(designedby){
        font-size: rem(12px);
    }
    @include element(item){
        &:not(:last-child){
            margin-bottom: rem(18px);
        }
    }
    @include element(list){
        @extend %listNoStyle;
    }
    @include element(contact){
        @extend %textRight;
    }
    @include element (link){
        color: inherit;
        &:hover{
           color: #4b4b4b;
        }
    }

}