<section class="section section--about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="section__services">
                    <h2 class="section__title">
                        AVANTI Products & Services
                    </h2>
                    <div class="section__content">
                        <p>
                            AVANTI fully complies with ISO 9001 (2015), BSCI certified A Grade, C-TPAT Certification,
                            GRS
                            (Global Recycling Standards), GOTS (Global Organic Textile Standards), EN71, and CE
                            certification
                            for toys, among others. We are also proud partner with the World Wide Fund for Nature in
                            India for
                            our Resploot brand and the PET Sustainability Coalition (PSC)
                        </p>
                        <p>
                            AVANTI fully complies with ISO 9001 (2015), BSCI certified A Grade, C-TPAT Certification,
                            GRS
                            (Global Recycling Standards), GOTS (Global Organic Textile Standards), EN71, and CE
                            certification
                            for toys, among others. We are also proud partner with the World Wide Fund for Nature in
                            India for
                            our Resploot brand and the PET Sustainability Coalition (PSC)
                        </p>
                    </div>
                </div>
                <div class="section__why">
                    <h2 class="section__title">
                        Why AVANTI
                    </h2>
                    <p>
                        AVANTI fully complies with ISO 9001 (2015), BSCI certified A Grade, C-TPAT Certification, GRS
                        (Global Recycling Standards), GOTS (Global Organic Textile Standards), EN71, and CE
                        certification
                        for toys, among others. We are also proud partner with the World Wide Fund for Nature in India
                        for
                        our Resploot brand and the PET Sustainability Coalition (PSC)
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="section__rightimg">
                    <picture>
                        <source srcset="images/about.webp 1x,images/about@2x.webp 2x" type="image/webp">
                        <img src="images/about.png" srcset="images/about.png 1x, images/about@2.png 2x" alt=""
                            class="img-fluid">
                    </picture>
                    <a class="section__link" href="">
                        See Products >
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>