<section class="section section--certifications">
    <div class="container">
        <div class="row  section__row-certi">
            <div class="col-md-8 section__content">
                <h2 class="section__title">
                    Certifications & Compliance
                </h2>
                <p>
                    AVANTI fully complies with ISO 9001 (2015), BSCI certified A Grade, C-TPAT Certification, GRS (Global Recycling Standards), GOTS (Global Organic Textile Standards), EN71, and CE certification for toys, among others. We are also proud partner of the World Wildlife Fund (WWF) and the PET Sustainability Coalition (PSC).
                </p>
            </div>
            <div class="col-md-4 section__rightcenter">
                <a class="btn btn--pink btn--norad btn--block">
                    Contact us to learn more
                </a>
            </div>
        </div>
        {% include "partials/partners.html" %}
    </div>
</section>