{% set partners = [
    {
      img: "images/",
      links : [{"link" : "Durapet"},{"link" : "Vaccumat"},{"link" : "Resploot"},{"link" : "White label Products"}]
    },
    {
      title: "quicklinks",
      links : [{"link" : "Avanti Profile"},{"link" : "Manufacturing Units"},{"link" : "Certifications"},{"link" : "CSR & Responsibility"}]
    },
    {
      title: "products",
      links : [{"link" : "Bedding"},{"link" : "Toys"},{"link" : "Feeding Products"}]
    }
    ]%}<section class="section section--cta">
    <div class="section__heart"></div>
    <div class="container">
        <hgroup class="section__title-wrap">
            <h2 class="section__title" data-aos="fade-up">
                We understand. We love. We care
            </h2>
            <h3 class="section__sub-title" data-aos="fade-up">
                The AVANTI Way
            </h3>
        </hgroup>
        <div class="section__content">
            <p>At AVANTI, the genuine act of caring ― considering the positive and negative impact of each step of the process as part of an attempt to listen and to understanding ― is at the core of the brand’s DNA.</p>
            <p>Therefore, we perceive taking responsibility for caring not only as a slogan or metaphor but as a powerful business advantage.</p>
            <p>Our desire to strive for better, healthier, happier and more efficient processes allows us to pay our respects to the environment, the people we work with, and the animals we so love, making our products a result of love and innovation.</p>
        </div>
        <a href="#" class="section__cta-link">
            Explore the AVANTI Way >
        </a>
    </div>
</section>