<section class="section section--hero">
    <div class="owl-carousel owl-theme">
        <div class="section__slide section__slide--one">
            <div class="container section__hero-container">
                <div class="row">
                    <div class="col-md-5">
                        <h1 class="section__hero-title">
                            SAVING THE WORLD ONE PET AT A TIME
                        </h1>
                        <p class="section__hero-content">
                            At AVANTI, we manufacture pet products from recycled plastic recovered from the oceans.
                        </p>
                        
                    </div>
                    <div class="col-md-7">
                        right
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>