<section class="section section--initiative">
    <div class="container">
        <div class="row">
            <div class="col-md-6 section__leftcenter">
                <h2 class="section__title">
                    AVANTI Sustainability Initiative
                </h2>
                <div class="section__content">
                    <p>
                        Climate change is real, and embedding sustainability into our way of life is the need of the
                        hour. At AVANTI, we aim to achieve sustainable growth holistically through our commitment to the
                        environment, processes, products and our teams.
                    </p>
                </div>
                <a href="#" class="section__initiative-link">
                    Learn more about AVANTI’s sustainability initiatives in 2019
                </a>
            </div>
            <div class="col-md-6">
                <picture>
                    <source srcset="images/initiative.webp 1x,images/initiative@2x.webp 2x" type="image/webp">
                    <img src="images/initiative.png" srcset="images/initiative.png 1x, images/initiative@2.png 2x"
                        alt="" class="img-fluid">
                </picture>
            </div>
        </div>
    </div>
</section>