{% set partners = [
    {img: "partner1"},
    {img: "partner2"},
    {img: "partner3"},
    {img: "partner4"},
    {img: "partner5" },
    {img: "partner6"},
    {img: "partner7"},
    {img: "partner8"}
    ]
%}
<section class="section section--partners">
    <div class="container">
        <div class="row">
            {% for partners in partners %}
            <div class="col section__item">
                <picture>
                    <source srcset="images/{{partners.img}}.webp 1x,images/{{partners.img}}@2x.webp 2x" type="image/webp">
                    <img src="images/{{partners.img}}.png" srcset="images/{{partners.img}}.png 1x, images/{{partners.img}}@2.png 2x" alt="{{partners.img}}" class="img-fluid">
                  </picture>
            </div>
        {% endfor %}
        </div>
    </div>
</section>