*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin-top: 0;
}

footer, header, main, nav, section {
  display: block;
}

html,body{
  height: 100%;
}
body{
  @extend %flexCol;
}

body{
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}


img{
  vertical-align: middle;
  max-width: 100%;
}

a{
  text-decoration: none;
  &:hover,&:focus{
    text-decoration: none;
  }
}